.hero_container {
    position: relative;
    height: 100px;
    max-width: 94vw;
    overflow-x: hidden;
    margin-top: 60px;
    display: flex;
    padding: 0px 30px;
    width: 100%;
    /* background-color: rgb(68, 0, 255); */
    background-image: url("/assets/img/gif-eth.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
  }
  .hero_ticker{
    position: absolute;
    width: 100%;
    /* display: flex; */
    overflow: hidden;
    background-color: black;
}
.hero_ticker_img{
    height: 75px;
}
.hero_written_container{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.hero_scroll_content {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* white-space: nowrap; */
    /* background-color: black !important; */
    color: white;
    font-family: "arcade";
    position: relative;
}
.hero_scroll_content span{
    margin: 0px 5px;
    height: 79px !important;
    /* background-color: red; */
    /* background-color: black; */
}
